body {
    --fg-color: #222;
    --bg-color: #ddd;
    background-color: var(--bg-color);
    /* transition: color 0.3s, background-color 0.3s; */
}

body[data-theme="dark"] {
    --bg-color: #222;
    --fg-color: #ddd;
}

[data-theme="dark"] * {
    --bg-color: #222;
    --fg-color: #ddd;
    --bg-color-hover: #449;
    --bg-color-active: #aae;
    --bg-color-stress: #494;
}

.seg_container {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    margin-left: 30px;
    width: 114px;
    height: 228px;
}

.seg_bg {
    position: absolute;
    display: inline-block;
    top: 0px;
    left: -10px;
    width: 124px;
    height: 228px;
}

.seg {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 20px;
    left: var(--left);
    top: var(--top);
    background-color: var(--fg-color);
}

.seg::before,
.seg::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.seg::before {
    left: 100%;
    border-left: 10px solid var(--fg-color);
}

.seg::after {
    right: 100%;
    border-right: 10px solid var(--fg-color);
}

.seg.vert {
    transform-origin: 0px 10px;
    rotate: 90deg;
}

.seg.hide {
    opacity: 0.05;
}

.seg:hover {
    cursor: pointer;
}

/* seg14.css */

.seg.short {
    width: 28px;
}

.seg.pllg,
.seg.pllgi {
    width: 39px;
    height: 28px;
}

.seg.decap {
    width: 45px;
    transform-origin: 10px 10px;
    rotate: 90deg;
}

.seg.pllg::before,
.seg.pllgi::before,
.seg.decap::after,
.seg.pllg::after,
.seg.pllgi::after {
    content: none;
    border: none;
}

.seg.decap::before {
    border-left: 15px solid var(--fg-color);
}

.seg.pllg {
    transform: skewY(57deg);
}

.seg.pllgi {
    transform: skewY(-57deg);
}